:root{
	--mainColor:#2f6597;
	--secondaryColor:#15202B;

	--borderColor:#030c14;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#fff;

	--previewShadow:#030c14;
	--previewBg:#2f6597;

	--submitBtn: #030c14;

}