:root{
	--mainColor:#B8F8F6;
	--secondaryColor:#A0D9C7;

	--borderColor:#368A87;

	--mainText:#000;
	--secondaryText:#000;

	--themeDotBorder:#A0D9C7;

	--previewShadow:#368A87;
	--previewBg:#B8F8F6;

	--submitBtn: #368A87;

}