:root{
	--mainColor:#C6BEFF;
	--secondaryColor:#e3cffd;

	--borderColor:#643473;

	--mainText:#000;
	--secondaryText:#000;

	--themeDotBorder:#E4B6F2;

	--previewShadow:#643473;
	--previewBg:#C6BEFF;

	--submitBtn: #643473;

}